<tr>
		<td class="delete">1{{id}}</td>
        <td >2{{first_name}}</td>
        <td >3{{last_name}}</td>
        <td >4{{email}}</td>
        <td >5{{job_title}}</td>
        <td class="filter">6{{department}}</td>
</tr>